@import "tailwindcss";
/* .register-container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.register-form {
  width: 380px;
  color: #fff;
}

.register-form h1 {
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: 700;
}

.register-form input,
.register-form textarea {
  width: 100%;
  background: #171717;
  padding: 14px;
  margin-bottom: 15px;
  border: none;
  border-radius: 12px;
  outline: none;
  color: white;
}

.register-form textarea {
  min-height: 120px;
}

.register-form button {
  width: 100%;
  padding: 14px;
  background: #7c3aed;
  border: none;
  color: #fff;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
} */
